<div class="footer-middle pt-95" style="background-image:url(assets/images/call-bg.png)">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget widgets-company-info">
                    <div class="footer-bottom-logo pb-40">
                        <img src="assets/images/logo00.png" alt="" />
                    </div>
                    <div class="company-info-desc">
                        <p>Née dans la mouvance des NTIC, la société SOFT INGENIERIE bénéficie de plus de 20 ans d’expériences de son Directeur Général dans le domaine de l’ingénierie logicielle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget widget-nav-menu">
                    <h4 class="widget-title pb-4">Nos Secteurs d'Activité</h4>
                    <div class="menu-quick-link-container ml-4">
                        <ul id="menu-quick-link" class="menu">
                            <li><a href="#">Immobilier</a></li>
                            <li><a href="#">Hôtellerie & Tourisme</a></li>
                            <li><a href="#">Commerce & Distribution</a></li>
                            <li><a href="#">Architecture, BTP, Energie</a></li>
                            <li><a href="#">Banque & Microfinance</a></li>
                            <li><a href="#">Assurance Maladie & Santé</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="widget widgets-company-info">
                    <h3 class="widget-title pb-4">Nos Adresses</h3>
                    <!-- <div class="company-info-desc">
                        <p>Porem awesome dolor sitework amet, consetur acing elit, sed do eiusmod ligal
                        </p>
                    </div> -->
                    <div class="footer-social-info">
                        <p><span>Adresses :</span> Abidjan, Douala.</p>
                    </div>
                    <div class="footer-social-info">
                        <p><span>Telephone :</span> +225 07 00 89 04 78</p>
                    </div>
                    <div class="footer-social-info">
                        <p><span>Telephone :</span> +237  699 45 46 24</p>
                    </div>
                    <div class="footer-social-info">
                        <p><span>Email :</span> contact@softingenierie.com</p>
                    </div>

                </div>
            </div>

        </div>
        <div class="row footer-bottom mt-70 pt-3 pb-1">
            <div class="col-lg-6 col-md-6">
                <div class="footer-bottom-content">
                    <div class="footer-bottom-content-copy">
                        <p>© 2022 Softingenierie. Tous Droits Réservés. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="footer-bottom-right">
                    <div class="footer-bottom-right-text">
                        <a class="absod" href="#">
                            Politique de confidentialité</a>
                        <a href="#">Termes & Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>