.breatcome_area{
	background:url(../../../assets/images/entr.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	height:500px;
	position:relative;
}

.breatcome_area:before{
	position: absolute;
    content: '';
    background-image: linear-gradient(to right, rgba(0,0,0, 0.3), rgba(0,0,0, 0.3), rgba(0,0,0, 0.3), rgba(0,0,0, 0.3), rgba(0,0,0, 0.3));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}