	<!--==================================================-->
	<!-- Start Techno Slider Area -->
	<!--==================================================-->
	<div class="slider_list owl-carousel">
		<div class="slider_area d-flex align-items-center slider1" id="home">
			<div class="container">
				<div class="row">
					<!--Start Single Portfolio -->
					<div class="col-lg-12">
						<div class="single_slider">
							<div class="slider_content">
								<div class="slider_text">
									<div class="slider_text_inner">
										<h5>Spécialiste Solutions Digitales</h5>
										<h1>Des Solutions IT </h1>
										<h1>Pour Booster Votre activité </h1>
									</div>
									<div class="slider_button pt-5 d-flex">
										<div class="button">
											<a routerLink="demonstration">Demo Gratuite <i class="fa fa-long-arrow-right"></i></a>
											<a class="active" routerLink="essayage">Essai Gratuit<i
													class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider_area d-flex align-items-center slider2">
			<div class="container">
				<div class="row">
					<!--Start Single Portfolio -->
					<div class="col-lg-12">
						<div class="single_slider">
							<div class="slider_content">
								<div class="slider_text">
									<div class="slider_text_inner">
										<h5>Spécialitste en Business Intelligence (BI)</h5>
										<h1>Des Solutions BI pour une </h1>
										<h1>Aide à la Prise de Décisions</h1>
									</div>
									<div class="slider_button pt-5 d-flex">
										<div class="button">
											<a routerLink="demonstration">Demo Gratuite <i class="fa fa-long-arrow-right"></i></a>
											<a class="active" routerLink="essayage">Essai Gratuit<i
													class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider_area d-flex align-items-center slider8">
			<div class="container">
				<div class="row">
					<!--Start Single Portfolio -->
					<div class="col-lg-12">
						<div class="single_slider">
							<div class="slider_content">
								<div class="slider_text exp">
									<div class="slider_text_inner">
										<h5>Spécialiste En Intégration </h5>
										<h1>Solution Biométrique</h1>
										<h1>Empreintes Digitales, ...</h1>
									</div>
									<div class="slider_button pt-5 d-flex">
										<div class="button">
											<a routerLink="demonstration">Demo Gratuite <i class="fa fa-long-arrow-right"></i></a>
											<a class="active" routerLink="essayage">Essai Gratuit<i
													class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider_area d-flex align-items-center slider4">
			<div class="container">
				<div class="row">
					<!--Start Single Portfolio -->
					<div class="col-lg-12">
						<div class="single_slider">
							<div class="slider_content">
								<div class="slider_text">
									<div class="slider_text_inner">
										<h5>Intégrateur Monétique</h5>
										<h1>Terminaux de Paiement</h1>
										<h1>Carte a Puce, Visa/MasterCard</h1>
									</div>
									<div class="slider_button pt-5 d-flex">
										<div class="button">
											<a routerLink="demonstration">Demo Gratuite <i class="fa fa-long-arrow-right"></i></a>
											<a class="active" routerLink="essayage">Essai Gratuit<i
													class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--==================================================-->
	<!-- End Techno Slider Area -->
	<!--==================================================-->
    	<!--==================================================-->
	<!-- Start Techno Flipbox Top Feature Area -->
	<!--==================================================-->
	<div class="flipbox_area top_feature">
		<div class="container">
			<div class="row nagative_margin">
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="flaticon-intelligent"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Fournisseur Solutions IT</h3>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Fournisseur Solutions IT</h3>
								</div>
								<div class="flipbox_desc">
									<p>Nos solutions vous garantissent plus de Performance dans vos activités et Visibilité. Succès assuré et Rentabilité financière</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="flaticon-code"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Développement Web et Mobile</h3>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Développement Web et Mobile</h3>
								</div>
								<div class="flipbox_desc">
									<p>Nous repondons à vos problématiques métiers en réalisant des Solutions conformes à vos bésoins opérationnels et stratégiques</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="flaticon-analytics"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>BI-Business Intelligence</h3>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>BI-Business Intelligence</h3>
								</div>
								<div class="flipbox_desc">
									<p>Nous valorisons vos données d'activités en informations pertinentes en réalisant des rapports et tableaux de bords intuititfs et intéractifs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="flaticon-data-2"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Services de qualité accompagnement </h3>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Services de qualité accompagnement </h3>
								</div>
								<div class="flipbox_desc">
									<p>Nos spécialistes IT vous proposent des services et accompagnement personnalisés vous garantissant succès et rentabilité financière.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Techno Flipbox Top Feature Area -->
	<!--==================================================-->
    	<!--==================================================-->
	<!----- Start Techno About Area ----->
	<!--==================================================-->
	<div class="about_area pt-70 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
					<div class="single_about_thumb mb-3">
						<div class="single_about_thumb_inner">
							<img src="assets/images/U.png" alt="" />
						</div>
					</div>
					<div class="single_about_shape">
						<div class="single_about_shape_thumb animate__animated animate__pulse animate__infinite animate__slower">
							<img src="assets/images/about-circle.png" alt="" />
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
					<div class="section_title text_left mb-40 mt-3">
						<div class="section_sub_title uppercase mb-3">
							<h6>20 ANS D'EXPERIENCES</h6>
						</div>
						<div class="section_main_title">
							<h1>Assurer votre Succès avec</h1>
							<h1>Les Meilleures <span>Solutions IT.</span></h1>
						</div>
						<div class="em_bar">
							<div class="em_bar_bg"></div>
						</div>
						<div class="section_content_text pt-4">
							<p>Nous privilégions la communication renforcée avec le client pour mieux qualifier les besoins, le travail collaboratif pour tirer profit de nos équipes IT
								et offrir des solutions et services de qualité.</p>
						</div>
					</div>
					<div class="singel_about_left mb-30">
						<div class="singel_about_left_inner mb-3">
							<div class="about_icon mr-4">
								<div class="icon mt-3">
									<i class="flaticon-intelligent"></i>
								</div>
							</div>
							<div class="singel-about-content">
								<h5>Solutions adaptées et perfectibles</h5>
								<p>Nos solutions sont flexibles, performantes et conformes aux besoins du client.</p>
							</div>
						</div>
						<div class="singel_about_left_inner">
							<div class="about_icon mr-4">
								<div class="icon mt-3">
									<i class="flaticon-business-and-finance"></i>
								</div>
							</div>
							<div class="singel-about-content">
								<h5>Qualité de services assurée</h5>
								<p>Nous mettons un accent particulier sur la qualité de nos services et sur l'accompagnement du client.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End Techno About Area -->
	<!--==================================================-->
    	<!--==================================================-->
	<!-- Start Techno Flipbox Area -->
	<!--==================================================-->

	<div class="flipbox_area pt-85 pb-70 perimetre">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section_title text_center white mb-55">
						<div class="section_sub_title uppercase mb-3">
							<h6>PERIMETRE</h6>
						</div>
						<div class="section_main_title">
							<h1>Secteurs d'Activités couverts</h1>
						</div>
						<div class="em_bar">
							<div class="em_bar_bg"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="fa-solid fa-house-chimney"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Immobilier</h3>
								</div>
								<div class="flipbox_desc">
									<p>Agences immobilières, SCI <br/> Promoteurs Immobiliers</p>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back " style="background-image:url(assets/images/feature1.jpg);">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Immobilier</h3>
								</div>
								<div class="flipbox_desc">
									<p>Administrateurs de biens et Gestionnaires de Patrimoine immobilier</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="flaticon-tourism"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Hôtellerie & Tourisme</h3>
								</div>
								<div class="flipbox_desc">
									<p>Propriétaires d’Hôtels<br/>Propriétaires de Résidences Hôtels. </p>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back " style="background-image:url(assets/images/feature2.jpg);">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Hôtellerie & Tourisme</h3>
								</div>
								<div class="flipbox_desc">
									<p>Professionnels du secteur de l'Hôtellerie <br/> Professionnels du secteur du Tourisme.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="fa-solid fa-shop"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Commerce & Distribution</h3>
								</div>
								<div class="flipbox_desc">
									<p>Boutiques, Commerces en ligne <br/>Grossistes et Sociétés de Distribution</p>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back " style="background-image:url(assets/images/commerce.jpeg);">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Commerce & Distribution</h3>
								</div>
								<div class="flipbox_desc">
									<p> Magasins, Superettes <br/>Individus Privés.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="fa-solid fa-trowel-bricks"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Architecture, BTP, Energie</h3>
								</div>
								<div class="flipbox_desc">
									<p>Cabinets d'Architecture, Sociétés BTP.
										Sociétés d'Energie et d'Electricité.
									</p>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back " style="background-image:url(assets/images/feature3.jpg);">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Architecture, BTP, Energie</h3>
								</div>
								<div class="flipbox_desc">
									<p>Entrepreneurs en BTP et Energie<br/>Entrepreneurs en Electricité.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="fa-solid fa-building-columns"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Banque & Micro Finance</h3>
								</div>
								<div class="flipbox_desc">
									<p>Institution de Microfinance (IMF)<br/> Institutions Financières.</p>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back " style="background-image:url(assets/images/micro.jpg);">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Banque & Micro Finance</h3>
								</div>
								<div class="flipbox_desc">
									<p>Etablissements de Crédits<br/> Réseaux d'agences.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-6">
					<div class="techno_flipbox mb-30">
						<div class="techno_flipbox_font">
							<div class="techno_flipbox_inner">
								<div class="techno_flipbox_icon">
									<div class="icon">
										<i class="fa-solid fa-staff-snake"></i>
									</div>
								</div>
								<div class="flipbox_title">
									<h3>Assurance Maladie & Santé</h3>
								</div>
								<div class="flipbox_desc">
									<p>Mutuelles d'Assurance <br/>
										Cliniques Privées</p>
								</div>
							</div>
						</div>
						<div class="techno_flipbox_back " style="background-image:url(assets/images/sante.jpg);">
							<div class="techno_flipbox_inner">
								<div class="flipbox_title">
									<h3>Assurance Maladie & Santé</h3>
								</div>
								<div class="flipbox_desc">
									<p>Gestionnaires d'Assurance Maladie.<br/>Centres de Santé </p>
								</div>
								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
