.perimetre{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../../assets/images/slider/slider-4.jpg);
}

.slider2 {
    background-image: linear-gradient( rgba(7, 43, 246, 0.30), rgba(10, 14, 243, 0.35)), url(../../../assets/images/cap.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px;
}

.slider4 {
    background-image: linear-gradient( rgba(7, 43, 246, 0.30), rgba(10, 14, 243, 0.35)), url(../../../assets/images/bi.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px;
}

.slider8 {
    background-image: url(../../../assets/images/bio.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px;
}
/* .exp{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
} */